.menu__label {
	text-align: center !important;
	color: #ffffff !important;
	font-weight: bold !important;
}

.menu__label--over {
	color: #ffffff !important;
}

.submenu__label {
	text-align: center !important;
	color: #ffffff !important;
	font-weight: bold !important;
	font-size: 14px !important;
}

.submenu__label--over {
	color: #ffffff !important;
}

.presentacion__titulo {
	color: #FFFFFF !important;
}

.presentacion__paginacion {
	text-align: center !important;
	color: #ffffff !important;
	font-weight: bold !important;
}

.menu-web__sidenav-label {
	color: #07586D !important;
	font-weight: bold !important;
}

.menu-web__sidenav-label--over {
	color: #0181AA !important;
	font-weight: bold !important;
}

.menu-web__top-label {
	color: #FFFFFF !important;
	font-weight: bold !important;
}

.menu-web__top-label--over {
	color: #07586D !important;
	font-weight: bold !important;
}

.titulos {
	background: #BEBEBE;
	color: #000000;
}

.table--scroll {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 370px;
}

.titulos > td {
	text-align: center;
}

.tabla__cronograma {
	height: 350px;
}

.overflow-y__auto {
	overflow-y: auto;
}

/* Estilos para el scroll en las tablas de cronograma */
.tabla__cronograma::-webkit-scrollbar {
	width: 8px;
	/* Tamaño del scroll en vertical */
	height: 8px;
	/* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.tabla__cronograma::-webkit-scrollbar-thumb {
	background: rgba(23, 57, 140, 0.4);
	border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.tabla__cronograma::-webkit-scrollbar-thumb:hover {
	background: rgba(23, 57, 140, 0.6);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.tabla__cronograma::-webkit-scrollbar-thumb:active {
	background-color: rgba(23, 57, 140, 0.8);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.tabla__cronograma::-webkit-scrollbar-track {
	background: #e1e1e1;
	border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.tabla__cronograma::-webkit-scrollbar-track:hover,
.tabla__cronograma::-webkit-scrollbar-track:active {
	background: #d4d4d4;
}